# Usa una imagen oficial de Python como base
FROM python:3.10-slim

# Establece el directorio de trabajo dentro del contenedor
WORKDIR /app

# Copia el archivo 'requirements.txt' al contenedor
COPY requirements.txt /app/

# Instala las dependencias necesarias
RUN pip install --no-cache-dir -r requirements.txt

# Copia todo el código de la aplicación dentro del contenedor
COPY . /app/

# Exponer el puerto en el que la app se ejecutará
EXPOSE 5000

# Comando para ejecutar la aplicación Flask
CMD ["python", "app.py"]
